
#upload form{

  margin-top: 10%;
  width: 100%;
  height: 200px;
  border: 4px dashed #DC3545;
}
#upload form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #DC3545;
  font-family: Arial;
}
#upload form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
#upload form button{
  color: #F8F9FA;
  background: #DC3545;
  border: none;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border-bottom: 3px solid #e04e5c;
  transition: all .2s ease;
  outline: none;
  margin-top: 20px;
}
#upload form button:hover{
  background: #e04e5c;
  color: #F8F9FA;
}
#upload form button:active{
  border:0;
}



